body a,
body a.btn.btn-link {
    text-decoration: underline;
    color: #000099;
}

header {
    box-shadow: 0px 0px 1em #333333;
    z-index: 10;
}

    .navbar-brand {
        line-height: 40px;
    }

    .navbar-brand span {
        font-size: 40px;
        color: #006778;
    }

    #cta-add-your-name {
        margin-right: 2em;
    }

main {
    margin-top: 2em;
}

    a.btn span,
    footer #footer-links a span {
        padding-left: 0.5em;
    }

    #the-pledge {
        margin-bottom: 1em;
    }

    #logos {
        text-align: center;
    }

    #logos img {
        max-height: 250px;
        max-width: 250px;
    }

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

    footer {
        text-align: center;
    }

    footer #footer-links a {
        padding: 0 1em;
        white-space: nowrap;
    }

sr-only {
    border: 0 none;
    clip: rect(0px,0px,0px,0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

span.material-symbols-sharp.floating-badge-icon {
    font-size: 4rem;
    display: block;
    float: right;
}