header {
    box-shadow: 0px 0px 1em #333333;
    z-index: 10;
}

    .navbar-brand span {
        font-size: 40px;
        color: #006778;
    }

    #cta-add-your-name {
        margin-right: 2em;
    }

main {
    margin-top: 2em;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
}

    footer {
        text-align: center;
    }

    footer #footer-links a {
        padding: 0 1em;
        white-space: nowrap;
    }

    footer #footer-links a span {
        padding-left: 0.5em;
    }